.rojo {
    box-shadow: 17px 10px 400px 200px rgba(227,22,22,1);
}

.amarillo {

    box-shadow: 17px 10px 400px 200px rgba(227,219,22,1);
}

.verde {

    box-shadow: 17px 10px 400px 200px rgba(22,227,79,1);
}
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
